<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vasu.image.video.pickrandom.galleryapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:largeHeap="true">


        <activity android:name="com.vasu.image.video.pickrandom.galleryapp.activity.ImagePickerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GalleryApp">

        </activity>

        <activity android:name="com.vasu.image.video.pickrandom.galleryapp.activity.CropImageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.GalleryApp">

        </activity>




    </application>

</manifest>